* {
	font-family: Arial;
}

.logo{
	margin: 20px 20px;
	width: 27%;
}

header{
	background-color: #323332;
	width: 100%;
	border-bottom: 2px solid #000;	
}

.menu{
	text-decoration: none;
	font-size: 12px;
	color: white;
	display: inline-block;
	margin-top: 65px;
	padding: 0 10px;
}

.box-imagenes {
	background-color: #F0F0F0;
	border-bottom: #BBBBBB;
	padding-bottom: 20px;
}

.box-imagenes h3 {
	margin: 15px 0 15px 15px;
	display: inline-block;
}

.enlace {
	text-decoration: none;
	color: #34669A;
	font-size: 12px;
	font-weight: bold;
}

.imagen-grande {
	width: 90%;
	border: 3px solid #fff;
	outline: 1px solid #CBCCCC;
}

.episodes .col-3 {
	padding: 0;
	margin-left: -10px;
	display: inline-block;
}

.episodes a {
	display: block;
}

.episodes .col-3:first-child {
	margin-left: 30px;
}

.episodes a{
	text-align: center;
	margin-left: -30px;
	text-decoration: none;
	color: #34669A;
	font-size: 16px;
	font-weight: bold;
}

.imagenes-medio{
	width: 100%;	
	padding-top: 30px;
}

.img-medio{
	width: 14%;
	border: 2px solid white;
	outline: 1px solid #CBCCCC;
	margin-left: 20px;
}


.enlaces-medio a{
	text-decoration: none;
	color: #34669A;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 0 20px;	
}

/*.enlaces-medio a:first-child{
	margin-left: 12px;
}

.enlaces-medio a:last-child{
	margin-left: 18px;
}*/
.enlaces-medio{
	width: 90%;
	display: inline-block;
	padding: 0  20px;
}

.enlaces-medio a:nth-child(3){
	
}

.seccion-medio{
	width: 80%;
	position: absolute;	
}

.apps{
	width: 65%;
	position: absolute;
	left: 900px;
	padding-top:50px; 
	font-size: 13px;
}

.apps a{
	text-decoration: none;
	color: #34669A;
	display: block;
	padding: 5px;
}

hr{
	border: 1px solid #DDD;
	margin: 5px 0 10px 0;
}

.aside2 {
	margin-top: 20px;
}

.apps a{
	color: #34669A;
	display: inline-block;
}

.apps img {
	width: 15px;
}

.footer {
	width: 100%;
	position: relative;
	top: 1150px;
	background-color: #585858;
	color: white;
	text-align: center;
	line-height: 50px;
}

.footer p:first-child {
	text-align: left;
}
	
.footer a {
	text-decoration: none;
	color: #CCCCCC;
	margin-right: 10px;
}

.footer p:last-child {
	font-size: 13px;
	color: #99958B;
}